ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.accounting-list li {
	padding: 12px 0 0px 0;
	border-bottom: 1px solid #cfcfcf;
	display: flex;
	justify-content: space-between;
}

.two-columns-list {
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #898989;
	line-height: 2em;
}

.section-buttons {
	width: 100%;
	display: flex;
	justify-content: center;
}

.active-section-button {
	cursor: none;
}

.create-budget-item-modal {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 70%;
	margin: auto;
}

.record-budget-item-modal {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 70%;
	margin: auto;
}

.section-buttons-container {
	padding: 10px 0 10px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #cfcfcf;
}

/* Accounting Section */
.accounting-list-item {
	display: flex;
	flex-direction: column;
}

.accounting-list-item .first-row {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	padding: 0px 7px;
}

.accounting-list-item .category {
	font-size: 0.7em;
	font-weight: lighter;
}

.accounting-list-item .second-row {
	display: flex;
	justify-content: space-between;
	gap: 15px;
	padding: 5px;
}

.align-right {
	text-align: right;
	align-self: flex-end;
}

.accounting-list-item .third-row {
	display: flex;
	padding: 0px 5px 5px 0px;
}

.light-text {
	font-size: 0.7em;
	font-weight: lighter;
	align-self: flex-end;
}
