ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	border-bottom: 1px solid #898989;
	line-height: 2em;
}

.section-buttons {
	width: 100%;
	display: flex;
	justify-content: center;
}

.active-section-button {
	cursor: none;
}

.create-budget-item-modal {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 70%;
	margin: auto;
}
