ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.accounting-list ul {
	width: 100%;
}

.accounting-list .MuiButtonBase-root {
	padding: 12px 0;
	border-bottom: 1px solid #cfcfcf;
	display: flex;
	justify-content: space-between;
}

.accounting-list .MuiListSubheader-root {
	border: none;
	padding-left: 25px;
	height: auto;
	font-size: 1.1em;
}

.two-columns-list {
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #898989;
	line-height: 1.3em;
}

.section-buttons {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 10px 0 10px 0;
	margin: 0 0 10px 0;
}

.active-section-button {
	cursor: none;
	display: flex;
	gap: 5px;
}

.record-budget-item-modal {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 70%;
	margin: auto;
}

/* Accounting Section */
.accounting-list-item {
	display: flex !important;
	justify-content: space-between !important;
	gap: 20px;
	width: 100%;
}

.accounting-list-item .first-row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.accounting-list-item .second-row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 15px;
	padding: 2px;
	font-size: 0.8em;
}

.align-right {
	text-align: right;
	align-self: flex-end;
}

.accounting-list-item .third-row {
	display: flex;
	padding: 0px 5px 5px 0px;
}

.light-text {
	font-size: 0.8em;
	font-weight: lighter;
}

.small {
	font-size: 0.8em;
}

/* Budget Section */

/*/* Create Budget Modal */
.create-budget-item-modal {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 80%;
	margin: auto;
	align-items: stretch;
}

.horizontal-input {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 0.8em;
}

.horizontal-input label {
	width: 40%;
	text-align: center;
}

.select-with-creation {
	color: var(--mono-rgb-100);
	background-color: var(--mono-rgb-100);
}

input {
	padding: 5px;
}

.no-styles {
	border: "none" !important;
	border-radius: "0";
	padding-left: 0;
}

.date-time-picker {
	height: auto;
}

.date-time-picker .MuiPickersSectionList-root {
	color: var(--text-normal);
}
